@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:300);

body {
	margin:0;
	padding:0;
	background-color: #F5F5F5;
}


.header {
	height:150px;
	background-color: #000;
	margin-bottom: 50px;
	#title {
		text-align: center;
		
		span {
			color:#fff;
			font-size: 30px;
			vertical-align: middle;
			display: inline-block;
		
			}
	}
}

.projects {
	float:left;
	margin-left: auto;
    margin-right: auto;
	#title {
		text-align: center;
		padding:20px;
		span {
			font-size: 40px;
		}
	}

	.collections{   

		left:12.5%;
		float:left;
		overflow: visible;
			
			.collections a:hover{
				opacity:0.5;
			}

			.collections a{
			text-decoration:none;
			}

		
		.collection-item{
		float:left;
		height: 245px;
		width:24.5%;
		text-align: center;
		overflow: hidden;
		padding: 2px;

			.image {
				
				background-color: #000;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				box-shadow: 0px 0px 2px 1px rgba(44, 54, 67, 0.1);
				backface-visibility: hidden;
				position: relative;
				height:130px;
				float:left;
			}

			.info{
				position: relative;
				z-index:1;
				height:80px;
				bottom: 0px;
				background-color: #fff;
				clear:both;

				.collection-item-title{
					color: #000;
					line-height: 55px;
					font-family: 'Ek Mukta', sans-serif;
					font-size: 20px;
					text-transform: uppercase;
					
					    
					}
				.kind {
					font-family: 'Ek Mukta', sans-serif;
					color: #000;
					text-transform: uppercase;
					font-size: 12px;
		
					}
			}
		


		}

	}
}
