@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);

html, body {
    padding:0;
    margin:0;  
    color: #fff; 
    text-align:center;
    <!--font-family: 'PT Sans', sans-serif;-->
    font-family: 'Lora', serif;
    background:#34495E;
}

a {color:#4a443d; text-decoration:none}

body {
    overflow:auto; 
    height:30000px; 
}

#skrollr-body {width:100%; height:100%; position:fixed; z-index:100; }

#skrollr-body div {overflow:hidden; position:absolute; }

.centered { top:20%; bottom:0; left:0; right:0; margin:auto; }

.left {top:20%; bottom:0; left:0; right:30%; margin:auto;}


#hi {
    
    font-size:80pt;
    z-index:5;
    font-family: 'Lora', serif;
}

#name {
    font-size: 50pt;
    z-index:4;
    left: 10;
}

#welcome {
    font-size: 50pt;
    z-index:4;
    right: 3%;
}

#progress {
	height:1%;
	background:#444;
	bottom:0;
	left: 0;
	z-index:200;
	position: fixed;
}

#aboutme, #canada, #photography, #art, #hiphop{
    font-size: 50pt;
    z-index:4;
}

#apart-coding {
    font-size: 40pt;
    z-index:4;
}

{
    
}

#waterloo {
    font-size: 40pt;
    z-index:4;
}




.signature{
   bottom:0; left:40%; right:0; margin:auto;
}

.scrolldown {
 margin:0 auto;
  
    left:30%;
    right:30%;
}
.scrolldown path {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: dash 5s linear forwards;
  animation: dash 5s linear forwards;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}




#bg1, #bg2, #bgcanada, #bgwaterloo, #bgcamera, #bgswimming, #bgbasketball, #bgpants, #bgcap, #bgbrush, #bghiphop{
	z-index:50;
    position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(images/star2.png);

}

#bgcanada{
    z-index:49;
    background-image:url(images/canada-icon.png);
    background-repeat: no-repeat;
}

#bgwaterloo{
    z-index:49;
    background-image:url(images/waterloo-icon.png);
    background-repeat: no-repeat;
}

#bgcamera{
    z-index:49;
	background-image:url(images/camera-icon.png);
    background-repeat: no-repeat;
}

#bgswimming{
    z-index:49;
	background-image:url(images/goggles-icon.png);
    background-repeat: no-repeat;
}

#bgbasketball{
    z-index:49;
	background-image:url(images/basketball-icon.png);
    background-repeat: no-repeat;
}

#bgpants{
    z-index:49;
	background-image:url(images/pants-icon.png);
    background-repeat: no-repeat;
}

#bgcap{
    z-index:49;
	background-image:url(images/cap-icon.png);
    background-repeat: no-repeat;
}

#bgbrush{
    z-index:49;
	background-image:url(images/brush-icon.png);
    background-repeat: no-repeat;
}

#bghiphop{
    z-index:49;
	background-image:url(images/wutang-icon.png);
    background-repeat: no-repeat;
}

#bg2 {
	z-index:48;
	background-image:url(images/star3.png);
}



