
<link rel="stylesheet" href="/css/footer.css"> 
<link rel="stylesheet" href="/css/struct.css">

    <div class ="footer xlg-16 lg-16">
        
        <div id ="social">     
            <ul>          
            <li><a href = "https://github.com/scotthso">GITHUB</a></li>
            <li><a href = "http://www.linkedin.com/in/scotthso">LINKED IN</a></li>
            <li><a href = "/Resume.pdf">RESUME</a></li>
            </ul>
        </div>
        
        <div id ="copyright">
    Designed by Scott So 2014
            </div>
    </div>
