<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>

  <div id ="header">
            <div id = "name">
            SCOTT SO
                <div id = "links">
            
                    <ul>
                    <li><a href="/index.html">Projects </a></li>
                    <li><a>Me</a></li>
                    <li><a href="/mind/index.html">Mind</a> </li>    
                    <li><a>Creative</a></li>
                    </ul>
                </div>
            </div>
        </div>

      
      </body>
    </html>