/*
Error: Invalid CSS after "	background-color": expected ";", was ": #333332;"
        on line 65 of /Users/scottso/scotthso.github.io/sass/project.scss

60: 	
61: 	.collection-item{
62: 	display: inline-block;
63: 	height: 130px;
64: 	padding: 4px
65: 	background-color: #333332;
66: 	background-position: center;
67: 	float:left;
68: 	
69: 	border-radius: 5px;
70: 	

Backtrace:
/Users/scottso/scotthso.github.io/sass/project.scss:65
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1162:in `expected'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1098:in `expected'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1093:in `tok!'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:758:in `block in try_declaration'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1138:in `call'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1138:in `rethrow'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:763:in `try_declaration'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:658:in `block_child'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:639:in `block'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:658:in `block_child'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:639:in `block'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:632:in `ruleset'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:657:in `block_child'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:42:in `parse'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/engine.rb:403:in `_to_tree'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/engine.rb:278:in `render'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	background-color\": expected \";\", was \": #333332;\"\A         on line 65 of /Users/scottso/scotthso.github.io/sass/project.scss\A \A 60: 	\A 61: 	.collection-item{\A 62: 	display: inline-block;\A 63: 	height: 130px;\A 64: 	padding: 4px\A 65: 	background-color: #333332;\A 66: 	background-position: center;\A 67: 	float:left;\A 68: 	\A 69: 	border-radius: 5px;\A 70: 	"; }
