@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:300);
/* line 3, ../sass/project.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

/* line 10, ../sass/project.scss */
.header {
  height: 150px;
  background-color: #000;
  margin-bottom: 50px;
}
/* line 14, ../sass/project.scss */
.header #title {
  text-align: center;
}
/* line 17, ../sass/project.scss */
.header #title span {
  color: #fff;
  font-size: 30px;
  vertical-align: middle;
  display: inline-block;
}

/* line 27, ../sass/project.scss */
.projects {
  float: left;
  margin-left: auto;
  margin-right: auto;
}
/* line 31, ../sass/project.scss */
.projects #title {
  text-align: center;
  padding: 20px;
}
/* line 34, ../sass/project.scss */
.projects #title span {
  font-size: 40px;
}
/* line 39, ../sass/project.scss */
.projects .collections {
  left: 12.5%;
  float: left;
  overflow: visible;
}
/* line 45, ../sass/project.scss */
.projects .collections .collections a:hover {
  opacity: 0.5;
}
/* line 49, ../sass/project.scss */
.projects .collections .collections a {
  text-decoration: none;
}
/* line 54, ../sass/project.scss */
.projects .collections .collection-item {
  float: left;
  height: 245px;
  width: 25%;
  text-align: center;
  overflow: hidden;
  padding: -2px;
}
/* line 62, ../sass/project.scss */
.projects .collections .collection-item .image {
  background-color: #000;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 2px 1px rgba(44, 54, 67, 0.1);
  backface-visibility: hidden;
  position: relative;
  height: 130px;
  float: left;
}
/* line 75, ../sass/project.scss */
.projects .collections .collection-item .info {
  position: relative;
  z-index: 1;
  height: 100px;
  bottom: 0px;
  background-color: #fff;
  clear: both;
}
/* line 83, ../sass/project.scss */
.projects .collections .collection-item .info .collection-item-title {
  color: #fff;
  margin-top: 10px;
  font-family: 'Ek Mukta', sans-serif;
  font-size: 14pt;
  text-transform: uppercase;
  line-height: 1em;
  height: 70px;
}
/* line 93, ../sass/project.scss */
.projects .collections .collection-item .info .kind {
  font-family: 'Ek Mukta', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0;
  margin-top: 0;
  line-height: 0em;
  height: 10px;
}
