/*
Error: Invalid CSS after "}": expected "}", was ""
        on line 107 of /Users/scottso/scotthso.github.io/sass/project.scss

102: 
103: 
104: 
105: 
106: }

Backtrace:
/Users/scottso/scotthso.github.io/sass/project.scss:107
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1162:in `expected'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1098:in `expected'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1093:in `tok!'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:640:in `block'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:632:in `ruleset'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:657:in `block_child'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:42:in `parse'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/engine.rb:403:in `_to_tree'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/engine.rb:278:in `render'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/scottso/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.16/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 107 of /Users/scottso/scotthso.github.io/sass/project.scss\A \A 102: \A 103: \A 104: \A 105: \A 106: }"; }
