/* Optimized for Safari */

/* Media Query for mobile */
@media only screen and (max-device-width: 400px), only screen and (max-width: 420px), only screen and (max-width: 26em) {
	
    #social-icons{
		display: none;
	}
	
    header {
		display: none;
	}
	
    .header-mobile {
		display: block;
		height: auto;
	}
	
    .header-mobile #logo {
		margin: -70px 0 -20px 0;
    }
	
    .header-mobile img {
		text-align: center;
	}
	
    article #logo img {
		display: none;
	}
	
    nav {
		background-color: #000;
		box-shadow: 0px 3px 3px 0px rgba(30, 30, 30, 0.75);
		clear: both;
		moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.75);
		position: relative;
		text-align: center;
		webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.75);
		width: 100%;
	}
	
    nav a {
		font-size: 6pt;
		letter-spacing: 0px;
	}
	
    nav li {
		font-size: 7pt;
		padding: 2px;
	}
	
    nav ul {
		margin-top: -3px;
		padding: 5px;
	}
	
    article p {
		font-size: 12pt;
	}
	
    article {
		margin: 40px 8% 0 8%;
		padding-bottom: 150px;
	}
    
    article h2 {
		font-size: 8px;
		margin-top: 1px;
	}
    
    #side-buttons img {
		display: none;
	}
	
    .article-title #social-links {
		display: none;
	}
	
    .article-title h1 {
		font-size: 22px;
	}
	
	.container {
		height: 100%;
	}
	
	footer a {
		font-size: 5pt;
		letter-spacing: 0px;
	}
	
    footer ul {
		margin-top: -3px;
		padding: 5px;
	}
	
    footer li {
		padding: 5px;
	}
}


/* Media Query for responsive web */
@media only screen and (min-width: 636px) and (max-width: 812px), only screen and (max-width: 39em) and (max-width: 51em) {
	
    #social-icons {
		display: none;
	}
	
    header {
		display: none;
	}
	
    .header-mobile {
		display: block;
		height: auto;
	}
	
    .header-mobile #logo {
		margin: -70px 0 -20px 0;
	}
	
    .header-mobile img {
		text-align: center;
	}
	
    nav {
		background-color: #000;
		box-shadow: 0px 3px 3px 0px rgba(30, 30, 30, 0.75);
		moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.75);
		position: relative;
		text-align: center;
		webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.75);
		width: 100%;
	}
	
    nav a {
		font-size: 9pt;
		letter-spacing: 0px;
	}
	
    nav li {
		font-size: 10pt;
		padding: 2px;
	}
	
    nav ul {
		padding: 16px;
	}
	
    article {
		margin: 50px 15% 0 15%;
		padding-bottom: 150px;
	}
    
    article p {
		font-size: 12pt;
	}
	 
    article #logo img {
		display: none;
	}
	
    #side-buttons img {
		display: none;
	}
	
    .article-title #social-links {
		display: none;
	}
	
    .article-title h1 {
		font-size: 17pt;
	}
	
    .container {
		height: 100%;
    }
   
    footer a {
		font-size: 6pt;
	}
	
    footer li {
		font-size: 8pt;
	}
	
    footer ul {
		padding: 8px;
	}
}

/* Media Query for responsive web */
@media only screen and (min-width: 813px) and (max-width: 959px), only screen and (max-width: 50.8em) and (max-width: 59.9em) {
	
    nav li {
		padding: 0px;
	}
	
    .article-title h1 {
		font-size: 17pt;
	}
	
    #social-icons li {
		padding: 0px;
	}
}

/* Media Query for responsive web */
@media only screen and (min-width: 960px) and (max-width: 1030px), only screen and (max-width: 50.8em) and (max-width: 64.375em) {
	
    nav li {
		padding: 2px;
	}
	
    .article-title h1 {
		font-size: 19pt;
	}
	
    #social-icons li {
		padding: 2px;
	}
}

/* Media Query for responsive web */
@media only screen and (min-width: 1031px) and (max-width: 1150px), only screen and (max-width: 64.438em) and (max-width: 71.875em) {
	nav li {
		padding: 5px;
	}
	
    .article-title h1 {
		font-size: 21pt;
	}
}

/* Media Query for responsive web for larger screens */
@media only screen and (min-width: 1151px), only screen and (min-width: 71.938em) {
	
    .container {
		height: 350px;
	}
	
    article p {
		font-size: 16pt;
	}
}